server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/branch_db
    username: branch_user
    password: branch_pass

  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
    show-sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true

  redis:
    host: localhost
    port: 6379
    timeout: 2000ms
